@page "/membershiplevels/create"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>MembershipLevel</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="MembershipLevel" OnValidSubmit="AddMembershipLevel" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="discountrate" class="form-label">DiscountRate:</label> 
                <InputNumber id="discountrate" @bind-Value="MembershipLevel.DiscountRate" class="form-control" /> 
                <ValidationMessage For="() => MembershipLevel.DiscountRate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="membershipid" class="form-label">MembershipId:</label> 
                <InputNumber id="membershipid" @bind-Value="MembershipLevel.MembershipId" class="form-control" /> 
                <ValidationMessage For="() => MembershipLevel.MembershipId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/membershiplevels">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private MembershipLevel MembershipLevel { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMembershipLevel()
    {
        using var context = DbFactory.CreateDbContext();
        context.MembershipLevel.Add(MembershipLevel);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/membershiplevels");
    }
}
