@page "/shipments/create"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Shipment</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Shipment" OnValidSubmit="AddShipment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="shipmentdate" class="form-label">ShipmentDate:</label> 
                <InputDate id="shipmentdate" @bind-Value="Shipment.ShipmentDate" class="form-control" /> 
                <ValidationMessage For="() => Shipment.ShipmentDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="trackingnumber" class="form-label">TrackingNumber:</label> 
                <InputText id="trackingnumber" @bind-Value="Shipment.TrackingNumber" class="form-control" /> 
                <ValidationMessage For="() => Shipment.TrackingNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Shipment.Status" class="form-control" /> 
                <ValidationMessage For="() => Shipment.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="orderid" class="form-label">OrderId:</label> 
                <InputNumber id="orderid" @bind-Value="Shipment.OrderId" class="form-control" /> 
                <ValidationMessage For="() => Shipment.OrderId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/shipments">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Shipment Shipment { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddShipment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Shipment.Add(Shipment);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/shipments");
    }
}
