@page "/promotions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookNook.Domain
@using BookNook.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="promotions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Promotion">
    <PropertyColumn Property="promotion => promotion.PromoCode" />
    <PropertyColumn Property="promotion => promotion.Description" />
    <PropertyColumn Property="promotion => promotion.DiscountPercentage" />
    <PropertyColumn Property="promotion => promotion.StartDate" />
    <PropertyColumn Property="promotion => promotion.EndDate" />
    <PropertyColumn Property="promotion => promotion.ApplicableTo" />

    <TemplateColumn Context="promotion">
        <a href="@($"promotions/edit?id={promotion.Id}")">Edit</a> |
        <a href="@($"promotions/details?id={promotion.Id}")">Details</a> |
        <a href="@($"promotions/delete?id={promotion.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BookNookContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
