@page "/orders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookNook.Domain
@using BookNook.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Order">
    <PropertyColumn Property="order => order.OrderDate" />
    <PropertyColumn Property="order => order.PaymentStatus" />
    <PropertyColumn Property="order => order.ShipmentStatus" />
    <PropertyColumn Property="order => order.UserId" />
    <PropertyColumn Property="order => order.PaymentId" />
    <PropertyColumn Property="order => order.ShipmentId" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.Id}")">Edit</a> |
        <a href="@($"orders/details?id={order.Id}")">Details</a>
        <AuthorizeView Roles="Administrator">
        <a href="@($"orders/delete?id={order.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private BookNookContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
