@page "/memberships/create"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Membership</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Membership" OnValidSubmit="AddMembership" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Membership.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Membership.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Membership.Status" class="form-control" /> 
                <ValidationMessage For="() => Membership.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="Membership.UserId" class="form-control" /> 
                <ValidationMessage For="() => Membership.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="membershiplevelid" class="form-label">MembershipLevelId:</label> 
                <InputNumber id="membershiplevelid" @bind-Value="Membership.MembershipLevelId" class="form-control" /> 
                <ValidationMessage For="() => Membership.MembershipLevelId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/memberships">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Membership Membership { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMembership()
    {
        using var context = DbFactory.CreateDbContext();
        context.Membership.Add(Membership);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/memberships");
    }
}
