@page "/memberships"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookNook.Domain
@using BookNook.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="memberships/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Membership">
    <PropertyColumn Property="membership => membership.DateCreated" />
    <PropertyColumn Property="membership => membership.Status" />
    <PropertyColumn Property="membership => membership.UserId" />
    <PropertyColumn Property="membership => membership.MembershipLevelId" />

    <TemplateColumn Context="membership">
        <a href="@($"memberships/edit?id={membership.Id}")">Edit</a> |
        <a href="@($"memberships/details?id={membership.Id}")">Details</a> |
        <a href="@($"memberships/delete?id={membership.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BookNookContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
