@page "/wishlists/details"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Wishlist</h2>
    <hr />
    @if (wishlist is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@wishlist.DateCreated</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@wishlist.UserId</dd>
        </dl>
        <div>
            <a href="@($"/wishlists/edit?id={wishlist.Id}")">Edit</a> |
            <a href="@($"/wishlists")">Back to List</a>
        </div>
    }
</div>

@code {
    private Wishlist? wishlist;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        wishlist = await context.Wishlist.FirstOrDefaultAsync(m => m.Id == Id);

        if (wishlist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
