@page "/items"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BookNook.Domain
@using BookNook.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="items/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Item">
    <PropertyColumn Property="item => item.Name" />
    <PropertyColumn Property="item => item.Type" />
    <PropertyColumn Property="item => item.Description" />
    <PropertyColumn Property="item => item.Price" />
    <PropertyColumn Property="item => item.Stock" />

    <TemplateColumn Context="item">
        <a href="@($"items/edit?id={item.Id}")">Edit</a> |
        <a href="@($"items/details?id={item.Id}")">Details</a> |
        <a href="@($"items/delete?id={item.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BookNookContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
